h1{
    text-align: center;
    color: red;
    background-color: black;
    font-style: italic;
}
div{
    background-color: red;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 2px solid black;
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 10px 10px 10px yellow;
    width: 300px;
    height: 300px;
}